<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../../partials/head") %>
    </head>
    <body>
        <div class="app-container">
            <!-- Sidebar -->

            <%- include("../../partials/sidebar.ejs") %>
            <!-- Main Content -->
            <main class="content-wrapper"><%- body %></main>
        </div>

        <%- include("../../partials/script") %>
    </body>
</html>
